/*body {
	background-color: red;
}*/



/*carousel css start*/
.carousel-wrapper {
  /*overflow is clipped and width 90% of viewport*/
  overflow: hidden;
  width: 45%;
  border: 5px solid black;/*adds border and color of border*/
  margin: 0 auto; /*centers item*/
  background-color: #000;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  /*child elements are positioned in the 3D space*/
  transform-style: preserve-3d;
}

.carousel__image {
  /*All images with carousel__image class set dimensions*/
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%; /*responsive width*/
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s; /*animates carousel */

}

.carousel__image.initial {
  /*rotate initial image*/
transform: rotate(270deg);
}

.carousel__image.initial,
.carousel__image.active {
  opacity: 1;
  position: relative; /* initial and active items will be relative*/
  z-index: 900;
}

/*pre-positioned items, set classes by javaScript*/
.carousel__image.prev,
.carousel__image.next {
  z-index: 800;
}
.carousel__image.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__image.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}

/* ::after - pseudo element to set buttons*/
.carousel__button--prev::after, 
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/*End of carousel styling*/

/*enlarge and color name*/
span.name {
  color: red;
  font-size: 3em;
}
/*Background color*/
body{
  background: #42f59e;
  color: #7e42f5;
  font-family: tahoma;
  font-size: 1.5em; /*1.5 em equals 15 px*/ 

  
}

* {
  margin: 0;
  padding: 0;
}

.mainHeader {
  height: auto;
  background: #e09e24;
}

#mainFooter {
  background-color: #e09e24;
  height: 3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}


.sloganHolder {
  height: auto;
  background: #7ce01d;
}

#content-wrap {
  width: 100%;
  margin: 0 auto; /*centers container*/
  /*background: #000 ;
  */padding-bottom: 3rem;
  }

  #container {
    min-height: 100vh;
    position: relative;
  }

h1, h2 {
  text-align: center;
}

.gitHub-icon {
  float:right;
}

.yT {
position: relative;
width: 45%;
border: 0;
margin: 0 auto;
padding-top: 40px;
overflow: hidden;
}

.yT iframe {
  position: auto;
  top: 0;
  left: 0;
  border: 0;
}


.gitHub-res {
  color: #000;
}